.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .image,.img {
    width: 80vw;
    height: auto;
  }
  .col{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .phoenix{
    height: 80px;
  }
  .fixed{
    display: none;
  }
}

.flip-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  border-radius: 50%;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back,
.image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.image {
  /* border: 1px solid black; */
  box-shadow:3px 4px 7px  rgba(77, 76, 76, 0.747) ;
}

.flip-card-front {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background:white;
}
h4{
  font-family: 'Times New Roman';
  margin-top: 10px;
}
.flip-card-back {
  background: linear-gradient(to right, #4364f7, #eb6ffc);
  color: white;
  text-shadow: 3px 3px 3px black;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  line-height: 0.97;
}

.logo{
  font-family:Georgia,serif !important;
  font-size: 30px;
}
.home-content{
  padding: 0%;
  padding-left: 0%;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container2 p span{
  color: purple;
}
.paragraph{
  font-size: 8vh;
  font-weight:900;
  font-family: Georgia  ,serif;
}
.container2{
  margin: 10%;
  line-height: 0.99;
}

h1{
  margin-left: 6%;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.registration-form{
    
    display: flex;
    justify-content: center;
}
form{
  border: 1px solid black;
    border-radius: 5px;
    padding: 25px;
    line-height: 0.97;
  }
.context{
  box-shadow: 3px 3px 5px gray;
  border-radius: 3px;
}
.navbar-nav,.collapse{
  border: none;
}
